<div class="navbar-wagon">
  <div class="logo-container">
    <span class="logo-text-1"> <font size="4">T</font>ICK'</span>
    <span class="logo-text-2"> <font size="4">T</font></span>
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo-ok.jpg" %>
    <% end %>
    <span class="logo-text-3">CK</span>
  </div>
  <!-- Right Navigation -->
  <% if user_signed_in? %>
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Add a watch -->
    <%= link_to "Add a watch", new_watch_path, class: "navbar-all-watches" %>
    <!-- Notification -->
    <%# link_to "", class: "navbar-wagon-item navbar-wagon-link" do %>
    <!-- <div class="badge-container">
      <i class="fa fa-envelope-o"></i>
      <div class="badge badge-blue">3</div>
    </div> -->
    <%# end %>
    <!-- Profile picture and dropdown -->
<<<<<<< HEAD
    <div class="navbar-signup">
      <div class="dropdown" id="text">
        My Profile
        <%= image_tag "http://placehold.it/30x30", id:
        "navbar-wagon-menu", "data-toggle" => "dropdown" %>
=======
    <div class="navbar-wagon-item">
      <div class="dropdown">

        <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
        <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
>>>>>>> 15a7da9346ff157c6ae2722a6b213fbb530d3eb3

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to "Profile", profile_path %>
          </li>
          <li>
            <%= link_to "Dashboard", dashboard_path %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to "Add a watch", new_watch_path %>
        </li>
        <li>
          <%= link_to "Profile", profile_path %>
        </li>
        <li>
          <%= link_to "Dashboard", dashboard_path %>
        </li>
        <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete%>
        </li>
      </ul>
    </div>
  </div>
  <% else %>
  <div class="navbar-wagon-right">
    <!-- Show (all watches) text link -->
    <%= link_to "ALL WATCHES", watches_path, class: "navbar-all-watches" %>
    <div class="separator"></div>

    <!-- Sign-up text link -->
    <%= link_to t(".sign_up", default: "Signup"), new_user_registration_path, class: "navbar-signup" %>
    <!-- Login text link -->
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-login" %>
    <% end %>
  </div>
</div>
