<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Dashboard</h2>
      <hr>
      <div>
        <h4>My watches</h4>
        <h4>My rentals</h4>
      </div>
      <hr>
      <div class="row">
        <em><h4>My watches:</h4></em>
        <% @user.watches.each do |watch| %>
          <div class="row">
            <% if watch.photos.first.present? %>
              <%= cl_image_tag watch.photos.first.path, width: 100, height: 100, crop: :fill %>
            <% end %>
          </div>
          <div>
            <h5><strong><%= watch.brand %></strong></h5>
            <p><%= watch.gender %></p>
            <p><%= watch.mechanism %></p>
            <p><%= watch.description %></p>
          </div>
          <div>
            <%= link_to "Edit watch", edit_watch_path(watch), class: "btn btn-info" %>
            <%= link_to "Delete watch", watch_path(watch), method: "delete", class: "btn btn-danger"  %>
          </div>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="row">
      <em><h4>My rentals:</h4></em>
      <% @user.rentals.each do |rental| %>
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <div class="col-xs-4">
              <% if rental.watch.photos %>
                <%= cl_image_tag rental.watch.photos.first.path, width: 100, height: 100, crop: :fill %>
              <% else %>
                <% image_tag "http://placehold.it/30x30"  %>
              <% end %>
            </div>
            <div class="col-xs-7">
              <p><strong><%= rental.watch.brand %></strong></p>
              <p><%= rental.watch.gender %></p>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="row">
              <div class="col-xs-4">
                <p><strong><%= rental.rent_price %>€</p></strong>
              </div>
              <div class="col-xs-2">
                <% if rental.user.photo %>
                  <%= cl_image_tag(rental.user.photo.path, width: 50, height: 50, crop: :thumb, gravity: :face, radius: :max) %>
                <% end %>
                <% if rental.user.first_name.present? %>
                  <p><%= rental.user.first_name %></p>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <p><%= rental.start_date %></p>
                <p><%= rental.end_date %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

