<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>My dashboard</h1>
      <div>
        <h3>My rentals</h3>
        <hr>
        <% @user.rentals.each do |rental| %>
          <div>
            <% rental.watch.photos.each do |photo| %>
            <div>
              <%= cl_image_tag photo.path, width: 100, height: 100, crop: :fill %>
            </div>
            <% end %>
            <div>
              <h4><strong><%= rental.watch.brand %></strong></h4>
              <p><%= rental.start_date %></p>
              <p><%= rental.end_date %></p>
              <p><%= rental.rent_price %>€</p>
            </div>
          </div>
        <% end %>
      </div>
      <div>
        <h3>My watches</h3>
        <hr>
        <% @user.watches.each do |watch| %>
          <div>
            <% watch.photos.each do |photo| %>
            <div>
              <%= cl_image_tag photo.path, width: 100, height: 100, crop: :fill %>
            </div>
            <% end %>
            <div>
              <h4><strong><%= watch.brand %></strong></h4>
              <p><%= watch.gender %></p>
              <p><%= watch.mechanism %></p>
              <p><%= watch.description %></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
