<div class="container">
  <div class="row">
    <div class="col-xs-12 col-xm-12">
      <div >
        <div class="col-xs-12">
          <% if @user.photo? %>
          <%= cl_image_tag(@user.photo.path, gravity: :face,
          width: 100,
          height: 100,
          crop: "fill",
          radius: :max) %>
          <% end %>
        </div>
        <div>
          <p class="first"><%= @user.first_name %></p>
          <p class="last"><%= @user.last_name %></p>
          <p class="watches">Watches: <%= @user.watches.count %></p>
          <div>
            <p>Link: <strong>Go to my dashboard</strong></p>
            <!-- <p><%#= link_to "Go to my dashboard", pages#dashboard %></p> -->
          </div>
        </div>
        </div>
        <div>
          <%= link_to "Edit my profile", profile_edit_path %>
      </div>
    </div>
  </div>
</div>
