<div class="container">
  <div class="row">
    <% if @user.photo %>
      <%= cl_image_tag(@user.photo.path, gravity: :face,
                                         width: 100,
                                         height: 100,
                                         crop: "fill",
                                         radius: :max) %>
    <% end %>
    <p>Firstname: <%= @user.first_name %></p>
    <p>Last name: <%= @user.last_name %></p>
    <p>Watches: <%= @user.watches.count %></p>
    <%= link_to "Edit my profile", profile_edit_path %>
  </div>
</div>
