<div class="form-inputs">
  <%= simple_form_for ( @watch ) do |f| %>
  <%= f.input :brand, collection: Watch::BRANDS  %>
  <%= f.input :gender, collection: Watch::GENDERS %>
  <%= f.input :mechanism, collection: Watch::MECHANISMS %>
  <%= f.input :price %>
  <%= f.input :photos, as: :attachinary %>
  <%= f.input :description %>
  <div class="form-actions">
    <%= f.submit "ADD", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
