<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 col-xs-12">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="description">
          <h2><%= @watch.brand %></h2>
          <p><%= @watch.gender %></p>
          <p><%= @watch.mechanism %></p>
          <p class="p-description"><%= @watch.description %></p>
        </div>
        </div>
        <div class="col-xs-3">
          <% if @watch.user.photo? %>
              <%= cl_image_tag(@watch.user.photo.path, :transformation=>[
                {:gravity=>"face", :radius=>"max"},
                {:width=>50,:crop=>"scale"}]
              ) %>
          <% end %>
          <p><%= @watch.user.first_name %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2" >
          <% @watch.photos.each do |photo| %>
          <div>
            <%= cl_image_tag photo.path, width: 400, height: 400, crop: :fill %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div class="final-price">
        <h3><%= @watch.price %>€</h3><span>/hour</span>
        <hr>
      </div>
      <div>
        <%= render "rentals/rental_form" %>
      </div>
    </div>
  </div>
</div>


